:root{
    --input-size: 80%;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: space-font;
    src: url(/fonts/space\ age.otf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

main{
    display: flex;
    height: 75%;
    width: 75%;
}

.left{
    background-image: url("space.jpg");
    background-size:cover;
    height: 100%;
    width: 40%;
    
}


.transparent-background{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    margin-top: 25%;
    justify-content: space-between;
    height: 25%;
}

.banner{
    color: white;
    font-size: min(4vh, 10em);
    font-weight: 900;
    text-align: center;
    font-family: space-font;
    letter-spacing: 1vw;
}

.logo{
    width: 25%;
    margin-left: 10px;
    height: auto;
}

.ball{
    width: 100%;
    height: auto;
}

.right{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#upper-text{
    font-size: 1rem;
    text-align: center;
    margin: 5px;
    color: white;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form{
    border:1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
}

input, label{
    display: flex;
}

.register{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.position{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: calc(90%);
    padding: 2px;;
}

legend{
    font-weight: 900;
}

.register label{
    display:flex;
    width: var(--input-size);
    text-transform: uppercase;
}

.register input{
   font-family: inherit;
   font-size: 100%;
   width: var(--input-size);
   height: 25px;
}

input:required + label::after{
    content: "\00a0*";
}

.formrow{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10%;
    margin-bottom: 10px;    
}

.inputgroup{
    width: calc(var(--input-size) + 30px);
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    margin-left: 1px;
}

input[type='submit']{
    width: min(100%, 10rem);
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 25em;
    margin-left: 25px;
}

input[type='radio']{
    appearance: none;
    background-color: white;
    border: 2px solid black;
    width: 20px;
    height: auto;
    border-radius: 100%;
}

input[type='radio']:checked{
    border: 2px solid white;
    background-color: black;
}

input[type='radio']:hover{
    border: 1px white solid;
}

input:focus{
    border: 2px solid  blue;
}

#log-in-text{
    color: white;
    margin-left: 25px;
}

.lower-section{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    height: 25%;
    gap: 10px;
}

#login{
    color: white;
}

#pwmatch{
    background-color: aqua;    
}

.hidden{
    visibility: hidden;
}